* {
    margin: 0;
    padding: 0;
}

body {
    margin: 1em auto;
    max-width: 60em;
    font: 1.2em monospace;
    background-color: #eee;
    color: #211023;
}

header {
    width: 30%;
    float: left;
    padding: 1em 5em;
}

nav {
    width: 40%;
    float: right;
    padding: 1em 0 2em 0;
}

article {
    clear: both;
    padding: 2em;
    border-top: solid 1px #211023;
    border-bottom: solid 1px #211023;
}

footer {
    text-align: center;
    padding: 1em;
}
