<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="favicon.png" />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <link rel="stylesheet" type="text/css" href="../style.css" />
        <title>Tyler's website</title>
<meta property="og:title" content="Trying out EXWM on Spacemacs" />
      <meta property="og:description" content="" />
      <meta property="og:type" content="article" />
      <meta property="og:url" content="/projects/2024-11-08" />
      <meta property="og:image" content="https://foxide.xyz/" />

    </head>

    <body>
        <header>
            <h1>Tyler's Site</h1>
        </header>
        <nav>
            <a href="https://foxide.xyz/">home</a>&emsp;
            <a href="https://foxide.xyz/articles.html">articles</a>&emsp;
            <a href="https://foxide.xyz/projects.html ">projects</a>&emsp;
            <a href="https://foxide.xyz/consulting.html">consulting</a>&emsp;
            <a href="https://git.foxide.xyz">code</a>
        </nav>
        <article>
<h1 id="abstract">Abstract</h1>
<p>I have been using Spacemacs for roughly a year or so now, and thought
it might be time to try out <a
href="https://github.com/emacs-exwm/exwm">EXWM</a>. DWM is a very good
window manager, and I don’t have any issue that is making me want to
move away from DWM, but I also like trying new things. So, here is my
experience in working with EXWM on Spacemacs.</p>
<h1 id="getting-started">Getting Started</h1>
<p>Getting started with EXWM on Spacemacs is as simple as enabling the
layer, docs can be found <a
href="https://develop.spacemacs.org/layers/+window-management/exwm/README.html">here</a>.
For myself, I added the following to my <code>.spacemacs</code>
file:</p>
<div class="sourceCode" id="cb1"><pre
class="sourceCode lisp"><code class="sourceCode commonlisp"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="co">;; In the `dotspacemacs-configuration-layers` section</span></span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true" tabindex="-1"></a>(exwm :variables exwm-systemtray-mode <span class="kw">t</span></span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true" tabindex="-1"></a>    exwm-terminal-command <span class="st">&quot;st&quot;</span></span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true" tabindex="-1"></a>    exwm-locking-command <span class="st">&quot;slock&quot;</span></span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true" tabindex="-1"></a>    exwm-hide-tiling-modeline <span class="kw">t</span></span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true" tabindex="-1"></a>    exwm-workspace-switch-wrap <span class="kw">t</span></span>
<span id="cb1-7"><a href="#cb1-7" aria-hidden="true" tabindex="-1"></a>    exwm-randr-mode <span class="kw">t</span>)</span>
<span id="cb1-8"><a href="#cb1-8" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-9"><a href="#cb1-9" aria-hidden="true" tabindex="-1"></a><span class="co">;; In the `dotspacemacs/user-config` section</span></span>
<span id="cb1-10"><a href="#cb1-10" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-11"><a href="#cb1-11" aria-hidden="true" tabindex="-1"></a><span class="co">;; This puts workspaces 2 and 3 on my second monitor</span></span>
<span id="cb1-12"><a href="#cb1-12" aria-hidden="true" tabindex="-1"></a>(<span class="kw">setq</span> exwm-randr-workspace-monitor-plist &#39;(<span class="dv">2</span> <span class="st">&quot;HDMI-A-0&quot;</span> <span class="dv">3</span> <span class="st">&quot;HDMI-A-0&quot;</span>))</span>
<span id="cb1-13"><a href="#cb1-13" aria-hidden="true" tabindex="-1"></a><span class="co">;; This auto refreshes randr so the workspaces go to the appropraite</span></span>
<span id="cb1-14"><a href="#cb1-14" aria-hidden="true" tabindex="-1"></a><span class="co">;; monitor automatically</span></span>
<span id="cb1-15"><a href="#cb1-15" aria-hidden="true" tabindex="-1"></a>(exwm-randr-refresh)</span>
<span id="cb1-16"><a href="#cb1-16" aria-hidden="true" tabindex="-1"></a><span class="co">;; Turns on transparency</span></span>
<span id="cb1-17"><a href="#cb1-17" aria-hidden="true" tabindex="-1"></a>(spacemacs/toggle-transparency)</span></code></pre></div>
<p>Then simply modify your .xinitrc file to run emacs rather than your
window manager or desktop environment, for example my .xinitrc looks as
follows:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode sh"><code class="sourceCode bash"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a><span class="co"># This swaps the functionality of the escape and caps lock key</span></span>
<span id="cb2-2"><a href="#cb2-2" aria-hidden="true" tabindex="-1"></a><span class="bu">exec</span> setxkbmap <span class="at">-option</span> caps:swapescape <span class="kw">&amp;</span></span>
<span id="cb2-3"><a href="#cb2-3" aria-hidden="true" tabindex="-1"></a><span class="co"># Sets the wallpaper to ~/.config/wall.png</span></span>
<span id="cb2-4"><a href="#cb2-4" aria-hidden="true" tabindex="-1"></a><span class="bu">exec</span> feh <span class="at">--bg-fill</span> ~/.config/wall.png <span class="kw">&amp;</span></span>
<span id="cb2-5"><a href="#cb2-5" aria-hidden="true" tabindex="-1"></a><span class="co"># Turns on transparency settings I like</span></span>
<span id="cb2-6"><a href="#cb2-6" aria-hidden="true" tabindex="-1"></a><span class="bu">exec</span> xcompmgr <span class="at">-slt</span> <span class="kw">&amp;</span></span>
<span id="cb2-7"><a href="#cb2-7" aria-hidden="true" tabindex="-1"></a><span class="co"># Network Manager applet for FreeBSD</span></span>
<span id="cb2-8"><a href="#cb2-8" aria-hidden="true" tabindex="-1"></a><span class="bu">exec</span> networkmgr <span class="kw">&amp;</span></span>
<span id="cb2-9"><a href="#cb2-9" aria-hidden="true" tabindex="-1"></a><span class="co"># Starts emacs and EXWM</span></span>
<span id="cb2-10"><a href="#cb2-10" aria-hidden="true" tabindex="-1"></a><span class="bu">exec</span> emacs</span></code></pre></div>
<p>From there, just exit X and run <code>startx</code> again; the
process will be slightly different for people that use display managers,
I might recommend using the <a href="https://archlinux.org/">Arch
Wiki</a> for guides on adding EXWM to the one you are using. Once emacs
is running, Spacemacs will download and install the relevant layer
packages for emacs, and after a few minutes you will be using EXWM.</p>
<p>That all seems good, but checking the Spacemacs documentation for the
keybindings, some (many) of them don’t work as documented. For example,
s-RET (super/meta/windows + return I assume) should launch the terminal
that was configured in the <code>.spacemacs</code> file, but hitting the
meta and return keys just shows an error. After digging through the
files and messing around a bit, I found that the file:
<code>~/.emacs.d/layers/+window-management/exwm/packages.el</code> is
where the keybindings are configured. From there, it was as simple as
changing some lines, though I am still playing around with them. The
diff of what I have done so far is as follow:</p>
<div class="sourceCode" id="cb3"><pre
class="sourceCode diff"><code class="sourceCode diff"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true" tabindex="-1"></a><span class="st">- (require &#39;exwm-config)</span></span>
<span id="cb3-2"><a href="#cb3-2" aria-hidden="true" tabindex="-1"></a><span class="st">- (unless exwm-workpsace-number)</span></span>
<span id="cb3-3"><a href="#cb3-3" aria-hidden="true" tabindex="-1"></a><span class="st">-   (custom-set-variables &#39;(exwm-workspace-number (/ (length exwm--randr-displays) 2)))</span></span>
<span id="cb3-4"><a href="#cb3-4" aria-hidden="true" tabindex="-1"></a><span class="va">+ (setq exwm-workspace-number 4)</span></span>
<span id="cb3-5"><a href="#cb3-5" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb3-6"><a href="#cb3-6" aria-hidden="true" tabindex="-1"></a><span class="st">- (exwm-input-set-key (kbd &quot;s-TAB&quot;) #&#39;exwm/jump-to-last-exwm)</span></span>
<span id="cb3-7"><a href="#cb3-7" aria-hidden="true" tabindex="-1"></a><span class="va">+ (exwm-input-set-key (kbd &quot;s-W&quot;) #&#39;exwm-workspace-move-window)</span></span>
<span id="cb3-8"><a href="#cb3-8" aria-hidden="true" tabindex="-1"></a><span class="va">+ (exwm-input-set-key (kbd &quot;s-&lt;tab&gt;&quot;) #&#39;exwm/jump-to-last-exwm)</span></span>
<span id="cb3-9"><a href="#cb3-9" aria-hidden="true" tabindex="-1"></a><span class="st">- (exwm-input-set-key (kbd &quot;s-RET&quot;) #&#39;exwm/terminal-command)</span></span>
<span id="cb3-10"><a href="#cb3-10" aria-hidden="true" tabindex="-1"></a><span class="va">+ (exwm-input-set-key (kbd &quot;s-&lt;return&gt;&quot;) #&#39;exwm/terminal-launcher)</span></span></code></pre></div>
<p>There are still some paper cuts that I am trying to figure out a more
convenient way to handle such as:</p>
<ul>
<li>Launching lf (I know emacs has dired, but I don’t think it works as
well for all types of files as a proper file manager)</li>
<li>Launching neomutt (emacs can do email, so might replace it with
something like GNUs or Mu4e)</li>
<li>Launching moc (I have used an emacs music player before, and it is
alright so I might switch, but am still undecided)</li>
</ul>
<h1 id="usability">Usability</h1>
<p>Getting EXWM setup is one thing, but how pleasant is it to use? The
answer to that question, in my opinion, really comes down to how
comfortable you are in emacs. EXWM is designed so that you truly never
leave emacs, thus every aspect of window management will be based around
emacs concepts. Coming from other window managers such as DWM and i3,
EXWM takes a lot of getting used to. The is even more true because I
only started using emacs about a year ago, that being said, I also feel
quite a bit more focused using EXWM then I did in DWM. For example, I
can do an org capture on the fly without having to leave the window that
I am on; simply pressing <code>s-i</code> to put the workspace into line
mode will allow me to use Spacemacs keyboard shortcuts to add something
to my org-agenda or any other capture that I want to do. This makes
taking notes or scheduling very easy and minimally disruptive to what I
am currently doing.</p>
<h2 id="gaming">Gaming?</h2>
<p>Now that I have spoken about how EXWM makes me feel more productive,
how does it handle gaming? Games that automatically go fullscreen seem
to work without issue; I was able to play Tomb Raider without much of a
problem just like normal. Other games, such as Payday 2, worked as
expected, however, I could not figure out how to make the game
fullscreen, nor could I figure out how to center the game onto the
screen. The EXWM keybindings were not working from within the game
window, and I could not figure out how to manipulate the game window
otherwise. There is probably a way to fix this, but I could not figure
out what it was at the time of this blog post.</p>
<h1 id="final-thoughts">Final Thoughts</h1>
<p>EXWM is a pretty good window manager, especially when considering
productivity, for people that are already comfortable in emacs. However,
if you are new to emacs, expect to struggle with it for a while. Again,
I have been using Spacemacs for a bit more than a year and I am still
struggling with it consistently. I am not sure that it will be replacing
DWM in the long term, but it is to play around with something
different.</p>
</article>
<footer>
    <p>
        Comments or suggestions?<br />
        Contact me: <a href="mailto:tyler.clark@foxide.xyz">tyler.clark@foxide.xyz</a>
    </p>
</footer>
