* {
    margin: 0;
    padding: 0;
}

body {
    margin: 1em auto;
    max-width: 60em;
    font: 1.2em Arial, sans-serif;
    background-color: #333;
    /*color: #211023; - Purple for light bg*/
    /*color: #9933cc; - Purple for dark bg*/
    color: #ccc;
}

header {
    width: 30%;
    float: left;
    padding: 1em 5em;
    color: #333;
    text-shadow: 2px 2px 5px #ccc;
}

nav {
    width: 40%;
    float: right;
    padding: 1em 0 2em 0;
}

img {
    width: 100%;
    height: 100%;
    padding: 1% 0;
}

pre {
    color: red;
    background-color: black;
    padding: 2%;
    margin: 1%;
    display: block;
    white-space: pre-wrap;
    /*overflow-x: scroll;*/
}

code {
    color: #bb55ff;
    overflow-x: scroll;
    font: monospace;
}

a {
    color: white;
}

article {
    clear: both;
    padding: 2em;
    border-top: solid 1px #bb55ff;
    border-bottom: solid 1px #bb55ff;
}

blockquote {
    padding: 0 3%;
    margin: 3% 0;
    border-left: 10px solid #ccc;
    border-right: 10px solid #ccc;
}

footer {
    text-align: center;
    padding: 1em;
}
